.color-example {
    color: aliceblue;
    background-color: black;
}

.background-example {
    background-color: lightseagreen;  
}  


.background-position-example {
    background-image: url("https://cutewallpaper.org/21/photo-background-images/Tv-Series-Colorful-Neon-Glow-Stock-Footage-Video-100-Royalty-free-1027713866-Shutterstock.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: auto;

}

.opacity-example {
    background-color: rgba(255, 0, 0 , 0.6);
}

.image-example {
    display: block;
    margin-top: 40px;
    margin-left: 20px;
}

.image-sizing-example {
    width: 230px;
    height: 430px;
}

span {
    display: block;
}